.gallery {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
}

.gallery-item {
	flex: 1 1 calc(33.333% - 48px);
	box-sizing: border-box;
}

.gallery-link {
	display: block;
}

.gallery-image {
	width: 100%;
	height: auto;
	display: block;
}
